<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="./static/style.css">
      <link rel="stylesheet" type="text/css" href="./static/bootstrap.min.css">
    <title>Duncan's Goals</title>
  </head>
  <body>
    <div id="root">
    </div>
      <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
      <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
      <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
      
      <!-- Load our React component. -->
      <script type="text/babel">

	  class BasicStat extends React.Component {

	      render() {
	          return (
           	      <div className="stat">
		          <div className="stat-description">{this.props.description}</div>
	                  <div className="stat-value">{this.props.value}</div>
		      </div>
                  )
	      }
	  }

          class BasicStatSubGroup extends React.Component {
	      constructor(props) {
	          super(props);
              }

	      render() {
	          const basicStatElements = this.props.stats.map(stat =>
	              <BasicStat key={stat.stat_id} description={stat.description} value={stat.value} />
	          );
		  return (
		      <div className="stats">
			{basicStatElements}
		      </div>
		  );  
	      }
          }

	  class BasicStats extends React.Component {
	      constructor(props) {
	          super(props);
              }

	      render() {
		  const basicStatSubGroups = this.props.stat_group.stats.map(statSubGroup =>
		      <BasicStatSubGroup key={statSubGroup[0].stat_id + "group"} stats={statSubGroup} />
                  );
	          return (
	            <div className="statgroup">
		      {this.props.stat_group.description != undefined && 
		          <div className="stat stat-header">{this.props.stat_group.description}</div> 
                      }
		      {basicStatSubGroups}
		    </div>
	          );
	      }
	  }

          class Controller extends React.Component {
	      constructor(props) {
                  super(props);
		  this.state = {};
              }

	      componentDidMount() {
                  fetch("./data")
                      .then(response => response.json())
                      .then(data => {
                          this.setState({stats: data});
                  });
	      }

              render() {
		  if (this.state.stats === undefined) {
		      return (
                          <div className="main">
                              <div className="header">Duncan's Stats</div>
		          </div>
		      );
		  }
		    
                  return (
                      <div className="main">
                        <div className="header">Duncan's Stats</div>
			  <div className="stat-container">
			      <BasicStats stat_group={this.state.stats.misc_stats} />
			      <BasicStats stat_group={this.state.stats.step_stats} />
			      <BasicStats stat_group={this.state.stats.weight_stats} />
			  </div>
                      </div>
                  );
              }
          }


          ReactDOM.render(
              <Controller />,
              document.getElementById('root')
          );
      </script>
  </body>
</html>
