<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="./static/style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Duncan's Goals</title>
  </head>
  <body style="background-color: #111">
    <div id="root">
    </div>
      <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
      <!-- Note: when developing, replace "production.min.js" with "development.js". -->
      <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
      <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      
      <!-- Load our React component. -->
      <script type="text/babel">

	  class BasicStat extends React.Component {
	      
	      render() {
	          var values = [this.props.value];
	          var valueElements;
	          if (Array.isArray(this.props.value) === true) {
	               valueElements = this.props.value.map(value =>
	                  <div key={this.props.stat_id + value} className="stat-value">{value}</div>
	              );
	          } else {
		       valueElements = [
			  <div key={this.props.stat_id + this.props.value} className="stat-value">{this.props.value}</div>
		       ];
	          }

	          return (
           	      <div className="stat">
		          <div className="stat-description">{this.props.description}</div>
			  {this.props.notes !== undefined && this.props.notes.trim() !== '' &&
			      <a tab-index="0" className="notes" data-toggle="popover" data-placement="left" data-content={this.props.notes}></a>
			  }
			  <div className="values">
        			  {valueElements}
			  </div>
		      </div>
                  )
	      }
	  }

          class BasicStatSubGroup extends React.Component {
	      render() {
	          const basicStatElements = this.props.stats.map(stat =>
	              <BasicStat key={stat.stat_id} description={stat.description} value={stat.value} stat_id={stat.stat_id} notes={stat.notes}/>
	          );
		  return (
		      <div className="stats">
			{basicStatElements}
		      </div>
		  );  
	      }
          }

	  class BasicStats extends React.Component {
	      render() {
		  const basicStatSubGroups = this.props.stat_group.stats.map(statSubGroup =>
		      <BasicStatSubGroup key={statSubGroup[0].stat_id + "group"} stats={statSubGroup} />
                  );
	          return (
	            <div className="statgroup">
		      {this.props.stat_group.description != undefined && 
		          <div className="stat stat-header">{this.props.stat_group.description}</div> 
                      }
		      {basicStatSubGroups}
		    </div>
	          );
	      }
	  }

          class Controller extends React.Component {
	      constructor(props) {
                  super(props);
		  this.state = {};
              }

	      componentDidMount() {
                  fetch("./data")
                      .then(response => response.json())
                      .then(data => {
                          this.setState({stats: data});
                  });
	      }

	      componentDidUpdate() {
		 $('[data-toggle="popover"]').popover({trigger: "click"});
              }

              render() {
		  if (this.state.stats === undefined) {
		      return (
                          <div className="main">
                              <div className="header">Duncan's Stats</div>
		          </div>
		      );
		  }
		  const basicStatElements = this.state.stats.map(statCollection =>
		      <BasicStats key={statCollection.stat_group} stat_group={statCollection} />
                  );

                  return (
                      <div className="main">
                        <div className="header">Duncan's Stats</div>
			  <div className="stat-container">
			      {basicStatElements}
			  </div>
                      </div>
                  );
              }
          }


          ReactDOM.render(
              <Controller />,
              document.getElementById('root')
          );
      </script>
  </body>
</html>
