{% extends "base.html" %}

{% block content %}

  <div>
    authorised shit
    <div>
      <a href="{{strava_url}}">Strava auth</a>
    </div>
    <div>
      <a href="{{gsheet_url}}">GSheet auth</a>
    </div>
    <div>
      <a href="{{goodreads_url}}">Goodreads auth</a>
    </div>
    <div>
      <a href="{{googlefit_url}}">Googlefit auth</a>
      <div>
	{% for date_chunk in date_chunks %}
	    <form class="date-submit-form" action="/googlefit_date" method="post">
	      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	      {% for date in date_chunk %}
	      <input type="hidden" name="date" value="{{date}}" />
	      {% endfor %}
	      <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% for date in date_chunk %}{{ date }} {% endfor %}" />
	    </form><br>
	{% endfor %}
	<script>
	  $('form.date-submit-form').on('submit', function(e) {
	      e.preventDefault();
	      var url = $(this).attr('action');
	      searchParams = $(this).serialize();
	      $(this).remove();

              fetch(url, {
	          method: "POST",
                  body: new URLSearchParams(searchParams)
              }).then(function(){
	          console.log("derp");
	      });
	  });
	</script>
      </div>
    </div>
  </div>

{% endblock %}
